[Unit]
Description=MonaLisa Monitoring Agent
After=multi-user.target

[Service]
Type=simple
User=mlsensor
Group=mlsensor
SyslogIdentifier=mlsensor
PIDFile=/var/run/mlsensor.pid
AssertPathExists=/etc/mlsensor/mlsensor.properties
WorkingDirectory=/tmp

ExecStart=/usr/bin/java -Xms16m -Xmx32m -DMLSENSOR_HOME=/home/mlsensor -Djava.util.logging.config.class=lia.Monitor.monitor.LoggerConfigClass \
-Dlia.Monitor.ConfigURL=file:/etc/mlsensor/mlsensor.properties -jar /usr/share/java/mlsensor/MLSensor.jar

[Install]
WantedBy=multi-user.target

